<app-sidebar></app-sidebar>
<div class="main-content">

  <header>
    <div class="search-wrapper">
      <!-- <span class="ti-search"></span>
      <input type="search" placeholder="Search"> -->
    </div>

    <div class="social-icons">
      <!-- <span class="ti-bell"></span>
      <span class="ti-comment"></span> -->
      <div class="dropdown" *ngFor="let profile of pic">
        <img src="https://eworksa.co.za/Backend{{profile.image}}" alt="No pic">
        <div class="dropdown-content">
          <ul class="menu">
            <li>
              <a>
                <span class="ti-user"></span>
                <span>{{user}}</span>
              </a>
            </li>
            <li>
              <a [routerLink]="['/account']">
                <span class="ti-settings"></span>
                <span>Account</span>
              </a>
            </li>
            <li>
              <a (click)="logout($event)" style="cursor: pointer;">
                <span class="ti-power-off"></span>
                <span>Sign Out</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>

  <main>
    <!-- <h2 class="dash-title">{{grade}}</h2>
    <h6 class="dash-title">Subject: {{subject}}</h6>
    <h6 class="dash-title">Topic: {{topic}}</h6>
    <h6 class="dash-title">Sub Topic: {{subtopic}}</h6> -->

    <h2 class="dash-title">Lesson Management</h2>

    <!-- Editable table -->
    <div class="card">
      <div class="th-card-body">
        <div id="table" class="table-editable">
          <table class="table table-bordered table-responsive-md table-striped text-center">
            <thead>
              <tr>
                <th class="text-center">Grade</th>
                <th class="text-center">Subject</th>
                <th class="text-center">Topic</th>
                <th class="text-center">Sub Topic</th>
              </tr>
            </thead>
            <tbody>
              <!-- This is our clonable table line -->
              <tr>
                <td class="pt-3-half">{{grade}}</td>
                <td class="pt-3-half">{{subject}}</td>
                <td class="pt-3-half">{{topic}}</td>
                <td class="pt-4-half">{{subtopic}}</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
    <!-- Editable table -->

    <section class="recent">

      <!-- Editable table -->
      <div class="card">
        <div class="th-card-body">
          <div id="table" class="table-editable">
            <span class="table-add float-right mb-3 mr-2" style="color:black">
              <a href="#editPreviewImage" class="text-warning" data-toggle="modal">
                <i class="fas fa-upload fa-1x" aria-hidden="true"></i>
              </a>&nbsp;Edit Preview Image
            </span>
            <span class="table-add float-right mb-3 mr-2" style="color:black">
              <a href="#editDescription" class="text-warning" data-toggle="modal">
                <i class="fas fa-edit fa-1x" aria-hidden="true"></i>
              </a>&nbsp;Edit
            </span>
            <span class="table-add float-right mb-3 mr-2" style="color:black">
              <a href="#addLesson" class="text-success" data-toggle="modal">
                <i class="fas fa-plus fa-1x" aria-hidden="true"></i>
              </a>&nbsp;Add
            </span>
            <table class="table table-bordered table-responsive-md table-striped text-center">
              <thead>
                <tr>
                  <th class="text-center">Name</th>
                  <th class="text-center">Description</th>
                  <th class="text-center">Preview</th>
                  <th class="text-center">Remove</th>
                </tr>
              </thead>
              <tbody>
                <!-- This is our clonable table line -->
                <tr *ngFor="let lesson of lessons">
                  <td class="pt-3-half" (click)="openLesson(lesson?.name);" style="cursor: pointer;">{{lesson?.name}}
                  </td>
                  <td class="pt-3-half">{{lesson?.description}}</td>
                  <td class="pt-3-half">{{lesson?.image}}</td>
                  <td>
                    <span class="table-remove">
                      <a href="#deleteUser" data-toggle="modal">
                        <button type="button" class="btn btn-danger btn-rounded btn-sm my-0"
                          (click)="deleteLesson(lesson?.id)">
                          <i class="material-icons" data-toggle="tooltip" title="Delete"><i class="fa fa-trash"></i></i>
                        </button>
                      </a>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- <div class="clearfix">
              <div class="hint-text">Showing <b>2</b> out of <b>25</b> entries</div>
              <ul class="pagination">
                <li class="page-item disabled"><a href="#">Previous</a></li>
                <li class="page-item"><a href="#" class="page-link">1</a></li>
                <li class="page-item"><a href="#" class="page-link">2</a></li>
                <li class="page-item"><a href="#" class="page-link">3</a></li>
                <li class="page-item"><a href="#" class="page-link">4</a></li>
                <li class="page-item"><a href="#" class="page-link">5</a></li>
                <li class="page-item"><a href="#" class="page-link">Next</a></li>
              </ul>
            </div> -->
          </div>
        </div>
      </div>
      <!-- Editable table -->

      <!-- Edit Modal HTML -->
      <div id="addLesson" class="modal fade" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
          <div class="modal-content">
            <form #AddUserForm=ngForm (ngSubmit)="onSubmit()">
              <div class="modal-header">
                <h4 class="modal-title">Add Lesson</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                  onClick="window.location.reload();">&times;</button>
              </div>
              <div class="alert alert-danger" [hidden]="!error">
                {{error}}
              </div>
              <div class="alert alert-success" [hidden]="!success">
                {{success}}
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label>Title</label>
                  <input type="text" name="name" class="form-control" [(ngModel)]="form.name" required>
                </div>
                <div class="form-group">
                  <label>Description</label>
                  <input type="text" name="description" class="form-control" [(ngModel)]="form.description" required>
                </div>
                <div class="form-group">
                  <label>Preview Image</label>
                  <input type="file" name="file" accept="image/*" class="form-control-file" id="exampleFormControlFile1"
                    (change)="onFileSelected($event)" required>
                  <br />
                </div>
              </div>
              <div *ngIf="selectedFile" class="progress my-3">
                <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                  attr.aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100"
                  [ngStyle]="{ width: progress + '%' }">
                  {{ progress }}%
                </div>
              </div>
              <div class="modal-footer">
                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                <input type="submit" class="btn btn-success" value="Add" id="adduser" [disabled]="!AddUserForm.valid">
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- Edit Modal HTML -->
      <div id="editDescription" class="modal fade" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
          <div class="modal-content">
            <form #AddUserForm=ngForm (ngSubmit)="editDescription()">
              <div class="modal-header">
                <h4 class="modal-title">Edit Lesson</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                  onClick="window.location.reload();">&times;</button>
              </div>
              <div class="alert alert-danger" [hidden]="!error">
                {{error}}
              </div>
              <div class="alert alert-success" [hidden]="!success">
                {{success}}
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label>
                    Search or Select Lesson
                  </label>
                  <input list="field" name="name" class="form-control" [(ngModel)]="form.name" required>
                  <datalist id="field">
                    <option *ngFor="let lesson of lessons">
                      {{lesson?.name}}
                    </option>
                  </datalist>
                </div>
                <div class="form-group">
                  <label>New Name</label>
                  <input type="text" name="name" class="form-control" [(ngModel)]="form.newName" required>
                </div>
                <div class="form-group">
                  <label>Description</label>
                  <input type="text" name="description" class="form-control" [(ngModel)]="form.description" required>
                </div>
              </div>
              <div class="modal-footer">
                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                <input type="submit" class="btn btn-success" value="Add" id="adduser">
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- Edit Preview Modal HTML -->
      <div id="editPreviewImage" class="modal fade" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
          <div class="modal-content">
            <form #AddUserForm=ngForm (ngSubmit)="editPreviewImage()">
              <div class="modal-header">
                <h4 class="modal-title">Edit Preview Image</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                  onClick="window.location.reload();">&times;</button>
              </div>
              <div class="alert alert-danger" [hidden]="!error">
                {{error}}
              </div>
              <div class="alert alert-success" [hidden]="!success">
                {{success}}
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label>
                    Search or Select Lesson
                  </label>
                  <input list="field" name="name" class="form-control" [(ngModel)]="form.name" required>
                  <datalist id="field">
                    <option *ngFor="let lesson of lessons">
                      {{lesson?.name}}
                    </option>
                  </datalist>
                </div>
                <div class="form-group">
                  <label>Preview Image</label>
                  <input type="file" name="file" accept="image/*" class="form-control-file" id="exampleFormControlFile1"
                    (change)="onFileSelected($event)" required>
                  <br />
                </div>
              </div>
              <div *ngIf="selectedFile" class="progress my-3">
                <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                  attr.aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100"
                  [ngStyle]="{ width: progress + '%' }">
                  {{ progress }}%
                </div>
              </div>
              <div class="modal-footer">
                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                <input type="submit" class="btn btn-success" value="Add" id="adduser">
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- Delete Modal HTML -->
      <div id="deleteUser" class="modal fade" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
          <div class="modal-content">
            <form>
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              </div>
              <div class="modal-body">
                <p>Lesson Successfuly deleted?</p>
              </div>
              <div class="modal-footer">
                <input type="button" class="btn btn-success" data-dismiss="modal" value="ok" id="delete">
              </div>
            </form>
          </div>
        </div>
      </div>

    </section>


  </main>

</div>
